*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
.logo{
    background-color: #0A91AB;
    width: 100%;
}
img.redimension {
    width:200px;
    height:200px;
    background-color: #0A91AB;
    margin-left: 42%;
}
.logo + article{
    width: 100%;
    background-color: #FFC045;
    position: sticky;
    top: 0px;
    z-index: 200;
}
.enlaces{
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 24px;
    text-align:center;
    margin-left: 3%;
}
.enlaces a{
    color: #000;
}
.enlaces a:hover{
    color: #0a90ab;
}

section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
section .map-responsive{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.map-responsive iframe{
    width: 100%;
    border: #0A91AB solid;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 25px;
}

section .map-responsive + article{
    width: 50%;
    margin: 5%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
article .informacio{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}
article p{
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
}
article hr{
    margin-bottom: 15px;
    width: 100%;
}
article .informacio{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
article .informacio .controls{
    width: 40%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
}
article .informacio .controls + select{
    width: 40%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
}
.informacio + .comentaris{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
article .comentaris .controls{
    border: 1px solid #000000;
    border-radius: 4px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    padding: 10px;
    width: 100%;
    height: 100%;
}
textarea{
    resize: none;
}

footer {
    text-align: left;
    padding: 1%; 
    background-color: rgb(202, 202, 202);
    color: black;
    clear: both;
    font-size: 100%;
    width: 100%;
    margin-top: 20px;
    display: inline;
}
footer p{
    margin-left: 20px;
    font-size: 20px;
}
footer hr{
    margin-bottom:10px;
}
footer .links{
    width: 80%;
}
footer a{
    font-weight: 600;
    color: #000;
    margin-left: 20px;
    margin-right: 20px;
}
footer .direccio{
    margin-top: 0px;
    width: 100%;
    text-align: right;
    font-weight: 600;
}
footer .direccio p{
    font-size: 15px;
}
div.direccio + p{
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}
