*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
.logo{
    background-color: #0A91AB;
    width: 100%;
}
img.redimension {
    width:200px;
    height:200px;
    background-color: #0A91AB;
    margin-left: 42%;
}
.logo + article{
    width: 100%;
    background-color: #FFC045;
    position: sticky;
    top: 0;
    z-index: 200;
}
.enlaces{
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 24px;
    text-align:center;
    margin-left: 3%;
}
.enlaces a{
    color: #000;
}
.enlaces a:hover{
    color: #0a90ab;
}
article + h3{
    width: 95%;
    font-size: 24px;
    margin-top: 15px;
    text-align: left;
    color: #0a90ab;
    margin-bottom: 15px;
}

.videojuegos{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 15px;
}
.videojuegos .videojuego{
    width: 30%;
    border: #FFC045 dotted;
    border-radius: 10px;
    position: relative;
    max-height: 460px;
}
.videojuegos .videojuego figure img{
    width: 100%;
    border-radius: 10px 10px 0px 0px ;
    height: 65%;
}
.videojuegos .videojuego figure .capa h3{
    width: 100%;
    color: #FFC045;
    margin: 5px;
}
.videojuegos .videojuego figure .capa p{
    width: 100%;
    margin: 5px;
    text-align:center;
    padding-right: 5px;
}
.videojuegos .videojuego figure .capa .link{
    border: #FFC045 solid;
    background-color: #FFC045;
    border-radius: 5px;
    width:fit-content;
    overflow: hidden;
    position:absolute;
    display: block;
    bottom: 7px;
    right: 7px;
}
.videojuegos .videojuego figure .capa .link a{
    color: rgba(0, 0, 0, 0.34);
    text-align: right;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    width: 98%
}
.trucos{
    width: 28%;
    border: #000 dotted;
    background-color: #90e6f8;
    border-radius: 10px;
    margin-right: 15px;
}
.trucos h3{
    text-align: center;
    margin-top: 3px;
    color: #08758b;
}
.trucos h4{
    text-align: center;
    color: #FFC045;
    margin-top:15px;
}
.trucos p{
    text-align:center;
    margin: 10px;
}
.noticias{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.noticias h3{
    text-align: center;
    margin-top: 3px;
    color: #08758b;
    width: 100%;
    margin-bottom: 10px;
}
.noticias .caja{
    border: #08758b solid ;
    border-radius: 10px;
    width: 45%;
    margin-bottom: 15px;
    position: relative;
}
.noticias .caja p{
    font-size: smaller;
    margin: 5px;
}
.noticias .caja hr{
    background-color: #FFC045;
    height: 5px;
}
.noticias .caja h4{
    text-align: center;
    color: #FFC045;
    margin: 5px;
}
.noticias .caja h4 + p{
    margin-left: 10px;
}
.noticias .caja .figure{
    position: absolute;
}
.noticias .caja figure img{
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    bottom: 0px;
}
.noticias .caja figure a{
    z-index: 100;
    position: absolute;
    border: #FFC045 solid;
    background-color: #FFC045;
    margin-top: 5px;
    right: 5px;
    border-radius: 5px;
}
.ranking{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ranking h3{
    width: 100%;
    color: #08758b;
    text-align: center;
    margin-bottom: 20px;
}
.ranking .usuario{
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ranking .usuario img{
    width: 70%;
    border: #000 solid;
    border-radius: 50%;
}
.ranking .usuario h4{
    width: 100%;
    text-align: center;
}

footer {
    text-align: left;
    padding: 1%; 
    background-color: rgb(202, 202, 202);
    color: black;
    clear: both;
    font-size: 100%;
    width: 100%;
    margin-top: 20px;
    display: inline;
}
footer p{
    margin-left: 20px;
    font-size: 20px;
}
footer hr{
    margin-bottom:10px;
}
footer .links{
    width: 80%;
}
footer a{
    font-weight: 600;
    color: #000;
    margin-left: 20px;
    margin-right: 20px;
}
footer .direccio{
    margin-top: 0px;
    width: 100%;
    text-align: right;
    font-weight: 600;
}
footer .direccio p{
    font-size: 15px;
}
div.direccio + p{
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}