*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url(/IMAGENES/fondooo.jpg);  
}
a:link, a:visited, a:active {
    text-decoration:none;
}
.logo{
    background-color: #0A91AB;
    width: 100%;
}
img.redimension {
    width:200px;
    height:200px;
    background-color: #0A91AB;
    margin-left: 42%;
}
.logo + article{
    width: 100%;
    background-color: #FFC045;
    position: sticky;
    top: 0px;
    z-index: 200;
}
.enlaces{
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 24px;
    text-align:center;
    margin-left: 3%;
}
.enlaces a{
    color: #000;
}
.enlaces a:hover{
    color: #0a90ab;
}
.contenedor{
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: #0A91AB dashed 2px;
    margin-top: 15px;
    background-color: white;
}
.detalles{
    margin: 30px;
    display: flex;
    flex-wrap:wrap;
    width: 70%;
    color: rgb(0, 0, 0);
}
.detalles img{
    width: 20%;
    height: 20%;
    margin: 20px;
    border-radius: 20px;
    border: #000 solid;
    float: left;
}
.detalles .juego{
    width: 60%;
    margin-top: 20px;
    bottom: 0;
}

.detalles + .progresos{
    height: 50%;
    width: 20%;
    float: right;
}
.detalles +.progresos .skills .circular-progress {
    position: relative;
    margin: 5px;
}
.detalles +.progresos .skills .circular-progress, .circular-progress:before, .circular-progress:after {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.detalles +.progresos .skills .circular-progress:before, .circular-progress:after {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}
.detalles +.progresos .skills .circular-progress:before {
    line-height: 8rem;
    padding: 0.5em;
    box-sizing: border-box;
    font-size: 1.8rem;
}
.detalles +.progresos .skills .circular-progress:after {
    line-height: 12rem;
}
.detalles +.progresos .skills .nota {
    background: linear-gradient(0deg, tomato 50%, rgba(255, 99, 71, 0.2) 50%);
    transform: rotate(165deg);
}
.detalles +.progresos .skills .nota:before, .nota:after {
    color: tomato;
}
.detalles +.progresos .skills .nota:before {
    content: "9,6";
    background: rgb(255, 255, 255) content-box;
    transform: rotate(-160deg);
    text-transform: uppercase;
    line-height: 6rem;
}
.detalles +.progresos .skills .nota:after {
    content: "NOTA";
    background: linear-gradient(transparent 50%, rgb(255, 255, 255) 50%);
    transform: scale(1.1) rotate(-165deg);
}
.detalles +.progresos .skills .graficos {
    background: linear-gradient(0deg, steelblue 50%, rgba(70, 130, 180, 0.2) 50%);
    transform: rotate(150deg);
}
.detalles +.progresos .skills .graficos:before, .graficos:after {
    color: steelblue;
}
.detalles +.progresos .skills .graficos:before {
    content: "9";
    background: rgb(255, 255, 255) content-box;
    transform: rotate(-150deg);
    text-transform: uppercase;
    line-height: 6rem;
}
.detalles +.progresos .skills .graficos:after {
    content:"GRÀFICS";
    background: linear-gradient(transparent 50%, rgb(255, 255, 255) 50%);
    transform: scale(1.1) rotate(-150deg);
}
.detalles +.progresos .skills .diversion {
    background: linear-gradient(0deg, orange 50%, rgba(255, 165, 0, 0.2) 50%);
    transform: rotate(180deg);
}
.detalles +.progresos .skills .diversion:before, .diversion:after {
    color: orange;
}
.detalles +.progresos .skills .diversion:before {
    content: "10";
    background: rgb(255, 255, 255) content-box;
    transform: rotate(-180deg);
    text-transform: uppercase;
    line-height: 6rem;
}
.detalles +.progresos .skills .diversion:after {
    content:"DIVERSIÓ";
    background: linear-gradient(transparent 50%, rgb(255, 255, 255) 50%);
    transform: scale(1.1) rotate(-180deg);
}  
.detalles +.progresos .skills .jugabilidad {
    background: linear-gradient(0deg, green 50%, rgba(0, 165, 0, 0.2) 50%);
    transform: rotate(160deg);
}
.detalles +.progresos .skills .jugabilidad:before, .jugabilidad:after {
    color: green;
}
.detalles +.progresos .skills .jugabilidad:before {
    content: "9,5";
    background: rgb(255, 255, 255) content-box;
    transform: rotate(-160deg);
    text-transform: uppercase;
    line-height: 6rem;
}
.detalles +.progresos .skills .jugabilidad:after {
    content:"JUGABILITAT";
    background: linear-gradient(transparent 50%, rgb(255, 255, 255) 50%);
    transform: scale(1.1) rotate(-160deg);
}  
.detalles +.progresos .skills {
    display: flex;
    margin-top: 4em;
    flex-wrap: wrap;
}
.detalles .historia{
    width: 100%;
    float: left;
    margin-left: 10px;
    top: 0;
    margin-top: 10px;
}
.progresos + .video{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    top: 0;
}
.video iframe{
    border-radius: 25px;
    transition: 3s;
    -moz-transition: 3s;
    -webkit-transition: 3s;
    -o-transition: 3s;
}
.video iframe:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

footer {
    text-align: left;
    padding: 1%; 
    background-color: rgb(202, 202, 202);
    color: black;
    clear: both;
    font-size: 100%;
    width: 100%;
    display: inline;
    margin-top: 20px;
}
footer p{
    margin-left: 20px;
    font-size: 20px;
}
footer hr{
    margin-bottom:10px;
}
footer .links{
    width: 80%;
}
footer a{
    font-weight: 600;
    color: #000;
    margin-left: 20px;
    margin-right: 20px;
}
footer .direccio{
    margin-top: 0px;
    width: 100%;
    text-align: right;
    font-weight: 600;
}
footer .direccio p{
    font-size: 15px;
}
div.direccio + p{
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}