*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
.logo{
    background-color: #0A91AB;
    width: 100%;
}
img.redimension {
    width:200px;
    height:200px;
    background-color: #0A91AB;
    margin-left: 42%;
}
article{
    width: 100%;
    background-color: #FFC045;
    position: sticky;
    top: 5px;
    z-index: 200;
}
.enlaces{
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 24px;
    text-align:center;
    margin-left: 3%;
}
.enlaces a{
    color: #000;
}
.enlaces a:hover{
    color: #0a90ab;
}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: black;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a{
    color:#f3f3f3;
}

.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p{
    letter-spacing: 1px;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 20px;
}
ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

div.center {
    text-align: center;
}

footer {
    text-align: left;
    padding: 1%; 
    background-color: rgb(202, 202, 202);
    color: black;
    clear: both;
    font-size: 100%;
    width: 100%;
    margin-top: 20px;
    display: inline;
}
footer p{
    margin-left: 20px;
    font-size: 20px;
}
footer hr{
    margin-bottom:10px;
}
footer .links{
    width: 80%;
}
footer a{
    font-weight: 600;
    color: #000;
    margin-left: 20px;
    margin-right: 20px;
}
footer .direccio{
    margin-top: 0px;
    width: 100%;
    text-align: right;
    font-weight: 600;
}
footer .direccio p{
    font-size: 15px;
}
div.direccio + p{
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}